
<div class="card">
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th>Địa chỉ</th>
                <th>Giao hàng</th>
                <th>Người dùng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hd : ${hoaDons}">
                <td th:text="${hd.idHoaDon}"></td>
                <td th:text="${hd.ngayTao}"></td>
            <td>
    <form th:action="@{'/admin/hoadon/updateStatus/' + ${hd.idHoaDon}}" method="post">
        <select name="status">
            <option value="Chờ xác nhận" 
                th:selected="${hd.trangThai == 'Đặt hàng thành công và đang chờ xử lý'}">Đặt hàng thành công và đang chờ xử lý</option>
            <option value="Đã xác nhận" 
                th:selected="${hd.trangThai == 'Đã xác nhận'}">Đã xác nhận</option>
            <option value="Đang giao hàng" 
                th:selected="${hd.trangThai == 'Đang giao hàng'}">Đang giao hàng</option>
            <option value="Đã giao thành công" 
                th:selected="${hd.trangThai == 'Đã giao thành công'}">Đã giao thành công</option>
            <option value="Đã hủy" 
                th:selected="${hd.trangThai == 'Đã hủy'}">Đã hủy</option>
        </select>
        <button type="submit">Cập nhật</button>
    </form>
</td>

                <td th:text="${hd.diaChi}"></td>
                <td th:text="${hd.giaoHang}"></td>
                <td th:text="${hd.user.idUser}"></td>
                <td>
                    <a th:href="@{'/admin/hoadon/view/' + ${hd.idHoaDon}}">🔍 Xem</a> |
                    <a th:href="@{'/admin/hoadon/delete/' + ${hd.idHoaDon}}"
                       onclick="return confirm('Bạn có chắc muốn xoá hóa đơn này?')">❌ Xoá</a>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
</div>
</script>
</body>
</html>
